Use My Current Location:<br>

Travel Distance:<br>
<%= text_field(:post, :radius) %> Miles<br><br><br>


Price Range:<br>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <%= form_tag(search_path, method: "get") do %>
            <%= select_tag(:house, options_for_select(hogwarts_houses), {class: "select-field"}) %>
            <%= submit_tag('Search For Members', class: "button") %>
          <% end %>
        </ul>
      </div>
