<h1><%= @restaurant.name %></h1>
<section id='restaurant'>
  <ul>
    <li id='address'>Address: <%= @restaurant.address%></li>
    <li id='price'>Price: <%= @restaurant.price%></li>
    <li id='avg_rating'>Average Rating: <%= @restaurant.avg_rating%></li>
  </ul>
</section>
